# **************************************************
# Copyright (c) 2025, Mayank Mishra
# **************************************************

torch
transformers
datasets
pydantic
safetensors
gitpython
